*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  background-color: white;
  color: black;
  font-size: 1rem;
  height: 100%;
  overflow-x: hidden;
}
.dark-side {
  background-color: black;
  color: white;
  /* -------- */
  filter: invert(1);
  -webkit-filter: invert(1);
  /* -------- */
}
/* ---------------- */
body::-webkit-scrollbar {
  width: 1em;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(167, 167, 167);
}
body::-webkit-scrollbar-thumb {
  background-color: black;
  outline: none;
}

/* ---------------- */

#page {
  display: flex;
  flex-wrap: wrap;
}

/* ---------------------------- 
*/

#banner {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;

  background-image: url(../img/girl-anothermag.jpg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 110%;
  transition: 6s ease;
}

#banner:hover {
  background-image: url(../img/SentaSimond2.jpeg);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 120%;
}

#banner h1 {
  font-family: "Muli-SemiBoldItalic";
  color: #000;
  opacity: 0.6;
  font-size: 2.5rem;
}
/* --------------------- */

#top {
  width: 100vw;
  height: auto;
  background-color: transparent;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #000;
}

.top-one {
  width: 45vw;
  height: 25vh;
  background-color: #fff;
  border-right: 1px solid rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-one p {
  padding: 40px;
  font-family: "Rajdhani-Light";
  text-align: left;
  letter-spacing: 5px;
  color: #000;
}

/* ------------- */
.top-two {
  width: 45vw;
  height: 25vh;
  margin-left: 10px;
  background-color: #fff;
  border-left: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info {
  width: 100%;
  height: 40%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.info p {
  font-family: "Rajdhani-Light";
  font-size: 1.2rem;
  text-align: left;
  letter-spacing: 1px;
  color: #000;
}
.info span {
  font-style: italic;
  margin: 0 8px 0 5px;
}
/* -------------------- */
.form-container {
  width: 100%;
  height: 60%;
  background-color: #fff;
  display: flex;

  justify-content: center;
  align-items: center;
}

.form-container input {
  width: 180px;
  height: 40px;
  background-color: #111111;
  border: 0;
  outline: none;
}
.form-container input:focus {
  background: #eee;
}
::placeholder {
  padding: 0 0 0 20px;
}

.form-container button {
  width: 120px;
  height: 40px;
  background-color: #333333;
  color: #ddd;
  transition: 2s ease-in-out;
}

.form-container button:hover {
  background-color: goldenrod;
  color: #eee;
}
/* -------------------- */
/* ------------------------- */
/* ---------footer----------- */
footer {
  width: 100vw;
  height: 7vh;
  font-size: 0.7rem;
  word-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fjord One", serif;
  background-color: #fff;
  color: #111111;
  border-top: 1px solid #000;
}
